[Desktop Entry]
Version=1.0
Type=Application
Name=Comic Strip Browser
Comment=Browse a selection of comic strips from GoComics and Comics Kingdom
GenericName=Comic Strips Reader
Exec=env -u DESKTOP_STARTUP_ID -u XDG_ACTIVATION_TOKEN comic-strip-browser
Icon=comic-strip-browser
Terminal=false
Categories=Graphics;Viewer;
Keywords=comic;comics;strips;gocomics;garfield;peanuts;entertainment;
StartupNotify=false
StartupWMClass=comic-strip-browser
